
body {
  box-sizing: border-box;
  margin: 0;
  /* overflow: hidden;
  overflow-x: none;  */
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  /* max-width: 1280px; */
  max-width: 97%;
  margin: 0;
  padding: 20px;
  height: 100%;
  background-color: #e72370;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50xp;
  }
  .img-logo {
    width: 100px;
  }

  .img-logo img {
    width: 90px;
  }

  ul.item-list {
    display: flex;
    align-items: center;
  }

  li.list-links {
    list-style: none;
    margin: 5px;
    padding: 5px 9px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 4px;
  }

  li.list-links a {
    font-size: 16px;
    line-height: 20px;
    padding: 2px 5px;
    text-decoration: none;
  }

  .register {
    cursor: pointer !important;
    font-weight: 700;
    font-size: 18px;
    padding: 6px 30px;
    border: none;
    border-radius: 5px;
  }

  .register:hover {
    background-color: yellow;
    /* color: #fff; */
  }

.main {
  /* margin: 0 80px; */
  position: relative;
  /* width: 1400px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img {
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  background-color: transparent;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -44px;
  left: 44%;
  right: 0;
  overflow: hidden;
  /* width: 100%; */
  height: 100%;
  -webkit-transform: scale(0);
  -ms-rlaytransform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.main:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.text {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.heart {
  position: relative;
  width: 100px;
  height: 90px;
  margin-top: 10px;
  animation: heartBeat 1s infinite;
}

@keyframes heartBeat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 52px;
  height: 80px;
  border-radius: 50px 50px 0 0;
  background: red;
}

.heart::before {
  left: 50px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}


.title{
    color: #fff;
    font-weight: 500;
}

.about{
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
}

/*  */

.column{
  float: left;
  width: 24%;
  padding: 0 5px;
}

.row{
  margin: 50px 0 0 0 ;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:600px) {
  .column{
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

.card{
  box-shadow: 0 4px 8px 0 gainsboro;
  padding: 16px;
  text-align: center;
  /* background-color: #fb98de; */
  border: 1px solid ;
  color: #fff;
  height:auto;
  border-radius: 5px;
}

.fa {font-size:50px;}

.column-6 {
  width: 49%;
  padding: 0 5px;
  float: left;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.first {
  padding: 5px 0;
  text-align: center;
}

.first img {
  width: 353px;
  height: 455px;
}

.about-part {
  margin: 120px 0;
  align-items: center;
  display: grid;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .column-6 {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

.column-12 {
  float: left;
  width: 100%;
  padding: 0 10px;
}
.message {
  margin: 50px 0 0 0;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 40px 60px;
  border-radius: 5px;
}

.radius-button {
  border-radius: 50px;
  background-color: yellow;
}

/*  */


.column-3 {
  width: 32%;
  float: left;
  padding: 0 5px;
}
h3.blog-title {
  margin: 0 0 37px 0;
  text-align: center;
  padding: 0 90px;
  color: #fff;
  font-size: 20px;
  line-height: 33px;
}

.cards {
  margin: 8px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 4px 2px #d1bfbf;
  transition: box-shadow 0.3s ease;
}

.cards:hover {
  box-shadow: 0px 0px 10px 4px #d1bfbf;
}
.img-card img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
  height: 183px;
}

.card-body {
  margin: 15px;
}

h3.card-title {
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
}

p.card-text {
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
}

a.card-link {
  line-height: 45px;
  font-size: 20px;
  color: #e72370;
  text-decoration: none;
}

.see-more{
  margin: 50px 0;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .column-3 {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}



input[type=text], 
select, 
textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


input[type=submit]{
    background-color: #04aa69;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #45a049;
}


/* .container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
} */

.columns{
    float: left;
    width: 45%;
    margin-top: 6px;
    padding: 20px;
}
.rows{
  border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

.rows::after{
    content: '';
    display: table;
    clear: both;
}

@media screen and (max-width:600px) {
    .columns , input[type=submit]{
        width: 100%;
        margin-top: 0;
    }
}